:root{
  --backgroundColor: #F3F5FC;
  
  --white: #ffffff;
  --mensajeNormal: #0A3871;
  --mensajeEncriptado: #495057;
  --boton-encriptar: #0A3871;
  --dark--grey:#495057;
}
body{
  background-color: var(--backgroundColor);
  display: grid;
}

.encriptar{
  display: flex;
  flex-direction: column;
}

.logo{
  height: 40px;
  width: 32px;
  margin-left: 16px;
  margin-top: 12px;
  border-radius: 0px;
}

.encriptar textarea{
  width: calc(85%);
  margin: 0 auto;
  background-color: inherit;
  border: none;
  margin: 30px auto 0 auto;
  /* font-size: 20px;
  height: 80px; */
}
.encriptar textarea::placeholder{
  color: var(--mensajeNormal);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.encriptar__mensaje{
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin: 0 auto; /*nueva*/
}

.encriptar__mensaje__texto{
  height: 16px;
  font-size: 12px;
  color: var(--dark--grey);
  margin-left: 6px;
}

.encriptar__mensaje img{ 
  width: 16px;
  height: 16px; 
  background-image: url('../img/warming.png');
}

.opciones{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self:center;
}

.opciones__encriptar, .opciones__desencriptar{
  height: 45px;
  width: 300px;
  border-radius: 24px;
  /* padding: 24px; */
  font-size: 16px;
  margin: 0 auto; /*nueva*/
}

.opciones__encriptar{
  /* margin-bottom: 0.9rem; */
  background-color: var(--boton-encriptar);
  color: var(--white);
}

.desencriptar{
  width: calc(90%);
  margin: 15px auto 0 auto;
  display: flex;
  background-color: var(--white);
  border: 1px solid black;
  border-radius: 32px;
  flex-direction: column;
  text-align: center;
}
.desencriptar__respuesta {
  margin: 2px 19px;
  height: 90px;
  padding-top: 15px;
  font-size: 24px;
  line-height: 29px;
  color: #343A40;
  text-align: center;    
  background-color: var(--white);
  border: none;
}
.desencriptar__subtitulo {
  margin: 0;
  padding-bottom: 10px;
  font-size: 16px;
}

.desencriptar__imagen{
  display: none;
}

.desencriptar__button{
  display: none;
  border-radius: 24px;
  width: 40%;
  margin: 0 auto;
  padding: 5px;
  margin: 0 auto 16px auto;
}


.footer{
  position: absolute;
  display: flex;
  bottom: 5px;
  justify-self: center;
}
.footer p{
  margin: 0;  /*Formateando, ya que por defecto viene con 16px de margin*/
}

@media screen and (min-width: 768px) {
  .encriptar textarea{
    height: 140px;
    text-align: left;
  }
  .opciones {
    flex-direction: row;  
    gap: 0;
  }
  .opciones__encriptar, .opciones__desencriptar{
    margin-left: 20px;
    width: 332px;
    height: 60px;
    position: relative;
  }
  .desencriptar__subtitulo {
    position: relative;
    bottom: 29px;
  }
  .desencriptar__respuesta {
    padding-top: 4%;
  }
}

@media screen and (min-width: 1024px) {
  .logo{
    margin-left: 10%;
    margin-left: 32px;
  }
  .cuerpo{
    display: flex;
    justify-content: space-around;
    justify-content: center;
  }
  .desencriptar{
    height: 110%;
  }
  .desencriptar__imagen{
    display: initial;
    height: 230px;
    object-fit: cover;
  }
  .desencriptar__respuesta{
    flex-grow: 2;
  }
  .encriptar textarea{
    height: 242px;
    text-align: left;
  }

  .parte__derecha{
    position: relative;
    top: -60px;
  }
}